.cardsContainer {
  width: 100%;
  min-height: calc(100vh - 250px);

  .innerContainer {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:  center;
    padding: 0 10px;
  }

  .spinnerContainer {
    width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 920px) {
    .innerContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
      column-gap: 10px;
    }
  }
}


