@import '../../styles/colors';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.default {
  @extend .button;
  padding: 4px 8px;
  border: solid 1px $primary-color-extraDark;
  background-color: $primary-color-mid;
  border-radius: 4px;
  width: 100%;
  color: white;

  &:hover {
    background-color: $primary-color-extraDark;
    transition: ease-in-out .2s;
  }
}

.outline {
  @extend .button;
  padding: 4px 8px;
  border: solid 1px $primary-color-mid;
  border-radius: 4px;

  &:hover {
    border-color: $primary-color-extraDark;
    transition: ease-in-out .2s;
  }
}

.clear {
  @extend .button;
  border: none;
  background-color: transparent;
}

.disabled {
  @extend .button;
  padding: 4px 8px;
  border: solid 1px $primary-color-extraDark;
  background-color: $primary-color-mid;
  border-radius: 4px;
  width: 100%;
  color: white;
  opacity: .8;
  cursor: not-allowed;
}