.logo {
  width: 100%;
  padding: 0 .625rem;
  height: 75%;
  max-width: 50rem;
  display: flex;
  align-items: center;
  color: white;
  margin: 0 auto;

  &__title {
    font-size: 1.12rem;
    padding: .125rem;
    border: solid .125rem white;
    border-radius: 1px .37rem; 
  }
}