.changeLanguageBtn {
  display: flex;
  height: 1rem;
  width: max-content;
  margin-left: auto;
  margin-right: 1.25rem;
  justify-content: space-between;
  color: white;

  &__imgContainer {
    display: flex;
    align-items: center;
  
    img {
      height: .625rem;
      width: .8rem;
      margin:0 .25rem;
    }
  }

  &__span{
    display: flex;
    align-items: center;
    height: 100%;
  }

  button {
    font-size: .625rem;
    margin-right: .5rem;
    color: white;
  }
}