.languageButtons {
  display: flex;
  height: 15px;
  width: max-content;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
  justify-content: space-between;
  color: white;

  img {
    height: 13px;
    width: 18px;
    margin:0 8px;
  }

  button {
    font-size: 14px;
    margin-right: 8px;
    color: white;
  }
}