@use '../../styles/colors';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$primary-color-extraDark;
  margin-top: 1.25rem;
  width: 100%;
  height: 10rem;
  padding: .625rem;
  color: white;
}