@import '../../styles/colors';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color-extraDark;
  margin-top: 20px;
  width: 100%;
  height: 150px;
  padding: 10px;
  color: white;
}