@use '../../styles/colors';

.logoSpinner {
  display: flex;
  width: 6.25rem;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: colors.$primary-color-dark;

  &__title {
    position: absolute;
    top: .3rem;
    left: .45rem;
  }

  &__spinner {
    width: 6.25rem;
    height: 1.875rem;
    border: solid .125rem colors.$primary-color-extraDark;
    border-radius: .125rem .375rem;
    animation: logoSpinner 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  &__loading {
    font-size: .75rem;
  }
}

@keyframes logoSpinner {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(600deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateX(1400deg);
  }
}