.editPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: .625rem;

  &__title {
    margin: .625rem 0;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__buttonsContainer{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    width: 100%;
    margin-top: 1.25rem;
  }
}