@import '../../styles/colors';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color-mid;
  width: 100%;
  height: 100px;

  * {
    color: white;
  }
}

.downLine {
  width: 100%;
  height: 25%;
  background-color: $primary-color-dark;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  width: 100%;
  padding: 0 4px;
  height: 75%;
  max-width: 800px;
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  padding: 4px;
  transition: all ease-in-out .3s;
}

.userIcon {
  font-size: 16px;
  border: solid 1px white;
  border-radius: 50%;
  padding: 1px;
}
      
.userName {
  margin: 0 4px;
  font-size: 10px;
  max-width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}
      
.logoutButtonContainer {
  svg {
    margin-right: 5px;
  }
  
  span {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
  }
}

@media (min-width: 300px) {
  .userName {
    max-width: 30%;
  }
}

@media (min-width: 400px) {
  .userName {
    max-width: 35%;
  }
}

@media (min-width: 600px) {
  .userName {
    font-size: 12px;
  }

  .logoutButtonContainer { 
    span {
      font-size: 12px;
    }
  }
}